<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inflate - Account </title>
<!-- include bootstrap framework -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/db91d90783.js" crossorigin="anonymous"></script>
<link href="<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="accountstyle.css">
</head>
<body>  
	<nav class="navbar navbar-expand-lg" style="background-color: #337AFF">
		<div class="container-fluid">
			<span class="navbar-brand abs">
				<strong><h2>Inflate</h2></strong>
			</span>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Favourites</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link fa-regular fa-circle-question" href="#"></a>
					</li>
					<li class="nav-item">
						<a class="nav-link fa-regular fa-user" href="#"></a>
				
					</li>

			</div>
		</div>
	</nav>

	<!-- Account page -->
	
 <!--Main container. Everything must be contained within a top-level container.-->
 <div class="container-fluid">

    <!--First row (only row)-->
    <div class="row extra_margin">

      <!-- First column (smaller of the two). Will appear on the left on desktop and on the top on mobile. -->
      <div class="col-md-4 col-sm-12 col-xs-12">

          <!-- Div to center the header image/name/social buttons -->
          <div class="text-center">

              <!-- Placeholder image using Placeholder.com -->
              <img src="http://via.placeholder.com/300x250" class="img-rounded"/>

              <!-- Header text (Person's name) -->
              <h2>User's Username</h2>

          </div>

      </div> <!-- End Col 1 -->

      <!-- Second column - for small and extra-small screens, will use whatever # cols is available -->
      <div class="col-md-8 col-sm-* col-xs-*">

        <!-- "Lead" text at top of column. -->
        <p class="lead">Account Information</p>

        <!-- Horizontal rule to add some spacing between the "lead" and body text -->
        <hr />


        <!-- Info text (info header) -->
        <h3>
			Go to Favourites
		</h3>

        <!-- Body text (paragraph 2) -->
        <h3>
			User's First and last name 
		</h3>

        <!-- Body text (paragraph 3) -->
        <h3>
			User's Email
		</h3>

    
      </div> <!-- End column 2 -->

    </div> <!-- End row 1 -->

  </div> <!-- End main container -->




</body>
</html>